<!DOCTYPE html>
<html>
  <head>
    <title>Example on how to embed Google Drive PDF inside website</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <div id="viewer" style="width: 100%; height: 500px;"></div>
    <script type="text/javascript" src="https://cloudpdf.io/viewer.min.js"></script>
    <script>
      const config = { 
        documentId: '0fcfdcb0-3dc0-46eb-9afd-bf04677b3f3e',
        darkMode: true, 
      };
      CloudPDF(config, document.getElementById('viewer')).then((instance) => {
        
      });
    </script>
  </body>
</html>